section.section.section-four
  .container
    a.link.title.title-lg.title-bg.icon.icon-circle-arrow-gray News
    div.section-four-items
      div.section-four-item
        div.section-four-item-center
          span.title.title-text New project SuSy
          p.text Our team is working on a very interesting project SuSy. Follow the news!
        div.section-four-item-bottom
          div.section-four-img
            img(src='./img/susy-logo-news.svg', alt='susy logo').img
          a(href="/").link See more
      div.section-four-item
        div.section-four-item-center
          span.title.title-text New project GH
          p.text Our team is working on a very interesting project Gravity Hub. Follow the news!
        div.section-four-item-bottom
          div.section-four-img
            img(src='./img/gravity-hub-logo.svg', alt='gravity hub logo').img
          a(href="/").link See more
      div.section-four-item
        div.section-four-item-center
          span.title.title-text New post
          p.text Our team is working on a very interesting project SuSy. Follow the news!
        div.section-four-item-bottom
          div.section-four-img
          a(href="/").link See more
