section.section.section-four
  .container
    h2.title.title-lg.title-bg News
    div.section-four-items
      span.section-four-item Item 1
      span.section-four-item Item 2
      span.section-four-item Item 3