section.section-gravity-hub
  DIV.container-content
    DIV.block-gravity-hub
      H2.text.text-title Join Gravity Hub
      P.text To become a Gravity Hub member, a user will need to install a Gravity Hub node and, for that purpose, to lock a certain sum of money on any of the supported public blockchain networks.
      P.text You can lock a certain sum on the Ethereum network for a fixed period, using a special smart contract. Once you’ve done that, you’ll be able to collect revenues from users’ data requests, also enjoying Gravity Hub’s other advantages.
      SPAN.button.button-orange Install GH node
      DIV.img-block
        img(src='../img/cos.png', alt='cosmonaut')
        img(src='../img/mob_space.png', alt='cosmonaut')