SECTION.block.block-nodes
  DIV.container-content
    DIV.block-text
      DIV.block-text-wrap
        H2.text.text-title Nodes
        P.text
          B Gravity Hub’s nodes
          |  will be able, for instance, to obtain block headers from the Ethereum network and send them to Waves Platform.
        P.text If Ethereum block header data is available on Waves Platform, it will be possible to prove that a specific transaction has taken place on Ethereum.  To obtain that data, users will pay reasonable fees.
        P.text
          B Gravity Hub
          |  will also be connected to custom chains, which represent a new approach to blockchain customization. Waves Matter, our blockchain engine, can be assembled in any configuration for different purposes.
    DIV.block-image
      img.block-image-wrap(src='../img/nodes-3.png',alt='nodes')