section.section.section-six
  .container
    h2.title.title-lg Get in touch
    div.form-block
      form
        input(type='text', placeholder='Name').input
        input(type='email', placeholder='Email').input
        input(type='text', placeholder='Subject').input
        textarea(cols="10", rows="1", placeholder='Message').textarea
        div.form-block-buttons
          button(type='submit').form-button.btn.btn-border Send