section.section.section-third
  .container#tools
    h2.title.title-lg.title-bg Technology<br> and Tools we use
    div.section-third-items
      span.icon.icon-waves-2 Waves
      span.icon.icon-ethereum Ethereum
      span.icon.icon-reactjs ReactJS
      span.icon.icon-solidity Solidity
      span.icon.icon-ride Ride