SECTION.block.block-watching
  DIV.container-content
    DIV.block-image
      img.block-image-wrap(src='../img/watching_data-3.png', alt='watching data').
      DIV.block-image-text
        DIV.block-image-text-wrap
          P.text All Gravity Hub nodes will have “data watchers” — modules for collecting various types of data, such as block headers and block height from other blockchains, exchange rates, etc.
          P.text For each data watcher, a data profile will be set. For a, if a data watcher collects Ethereum block header data, this will need to be done with a certain frequency and reliability.
    DIV.block-text
      H2.text.text-title
        | Watching
        |
        | data
      P.text In addition to providing an interoperability protocol, Gravity Hub will help resolve the issue of obtaining information from the outside world, as it will facilitate access of all connected chains to data from outside the blockchain.
      P.text A member of any network connected to Gravity Hub will be able to request oracle data from any information systems that have APIs — from Google to enterprise ERP systems.