footer
    div.container
        span.logo-ft
        a(href='mailto:info@venlab.dev').link.footer-email info@venlab.dev
        div.footer-menu
            div.footer-menu-item
                span.footer-menu-title Products
                a(href='/').link GravityHub
                a(href='/').link SuSy
                a(href='/').link Neutrino
                a(href='/').link Ventuary-DAO
                a(href='/').link Mastering Web 3.0
            div.footer-menu-item
                span.footer-menu-title Company
                a(href='/').link About
                a(href='/').link Research
                a(href='/').link Contacts
            div.footer-menu-item
                span.footer-menu-title News
                a(href='/').link Blog
                a(href='/').link Press Releases
                a(href='/').link Brand Assets
            div.footer-menu-item
                span.footer-menu-title Developers
                a(href='/').link Documentation
                a(href='/').link Whitepapers
        div.footer-links
            div.lang.page-lang
                div.page-lang-select
                    span.icon.icon-eng.link.page-lang-selected Eng
                    div.page-lang-select-list
                        span.icon.icon-eng.link.page-lang-select-list-title Esp
                        span.icon.icon-eng.link.page-lang-select-list-title Rus
                        span.icon.icon-eng.link.page-lang-select-list-title Fra
                        span.icon.icon-eng.link.page-lang-select-list-title Vie
            div.footer-social-links
                a(href="/").link-icon.icon.icon-facebook
                a(href="/").link-icon.icon.icon-medium
                a(href="/").link-icon.icon.icon-twitter
                a(href="/").link-icon.icon.icon-linkedin
                a(href="/").link-icon.icon.icon-youtube
                a(href="/").link-icon.icon.icon-discord
                a(href="/").link-icon.icon.icon-reddit
                a(href="/").link-icon.icon.icon-github
        p.text.copyrate ©2020 Ventuary Lab Corporation Inc. All rights reserved.

