FOOTER
    .container
        DIV.footer-info
            SPAN.logo
            DIV.footer-info-bottom
                A(href='mailto:support@gravityhub.org').link support@gravityhub.org
                SPAN.copyrights © 2020 Gravity Hub. Made with <span class="icon-like">❤︎</span> in Saint Petersburg
        DIV.footer-menu
            DIV.footer-menu-block
                SPAN.footer-menu-block-title Product
                A(href='/').footer-menu-block-link Get started
                A(href='/').footer-menu-block-link Swap
            DIV.footer-menu-block
                SPAN.footer-menu-block-title Company
                A(href='/').footer-menu-block-link About
                A(href='/').footer-menu-block-link FAQ
                A(href='/').footer-menu-block-link Blog
                A(href='/').footer-menu-block-link Contact us
            DIV.footer-menu-block
                SPAN.footer-menu-block-title Community
                A(href='/').footer-menu-block-link Twitter
                A(href='/').footer-menu-block-link LinkedIn
                A(href='/').footer-menu-block-link Facebook
                A(href='/').footer-menu-block-link Medium
                A(href='/').footer-menu-block-link Telegram
            DIV.footer-menu-block
                SPAN.footer-menu-block-title Resourses
                A(href='/').footer-menu-block-link Whitepaper
                A(href='/').footer-menu-block-link GitHub
                A(href='/').footer-menu-block-link Security audit
                A(href='/').footer-menu-block-link Privacy policy
                A(href='/').footer-menu-block-link Terms of Use