header
    .header
        span.logo.logo-hd.header-logo
        div.header-wrap
            div.btn-close
                span.btn-close-item
                span.btn-close-item
            div.header-menu
                a.link.header-menu-link.active company
                a.link.header-menu-link products
                a.link.header-menu-link news
                a.link.header-menu-link contacts
            div.lang.page-lang
                div.page-lang-select
                    span.icon.icon-eng.link.page-lang-selected Eng
                    div.page-lang-select-list
                        span.icon.icon-rus.link.page-lang-select-list-title Rus
            div.header-footer
                div.footer-links
                    div.footer-social-links
                        a(href="/").link-icon.icon.icon-facebook
                        a(href="/").link-icon.icon.icon-medium
                        a(href="/").link-icon.icon.icon-twitter
                        a(href="/").link-icon.icon.icon-linkedin
                        a(href="/").link-icon.icon.icon-youtube
                        a(href="/").link-icon.icon.icon-discord
                        a(href="/").link-icon.icon.icon-reddit
                        a(href="/").link-icon.icon.icon-github
                span.logo-ft
                a(href='mailto:info@venlab.dev').link.footer-email info@venlab.dev
                p.text.copyrate ©2020 Ventuary Lab Corporation Inc. All rights reserved.
        div.header-menu-toggle
            span.header-menu-toggle-line
            span.header-menu-toggle-line
            span.header-menu-toggle-line