header
    .header
        span.logo.logo-hd.header-logo
        div.header-wrap
            div.header-menu
                a.link.header-menu-link.active company
                a.link.header-menu-link products
                a.link.header-menu-link news
                a.link.header-menu-link contacts
            div.lang.page-lang
                div.page-lang-select
                    span.icon.icon-eng.link.page-lang-selected Eng
                    div.page-lang-select-list
                        span.icon.icon-eng.link.page-lang-select-list-title Esp
                        span.icon.icon-eng.link.page-lang-select-list-title Rus
                        span.icon.icon-eng.link.page-lang-select-list-title Fra
                        span.icon.icon-eng.link.page-lang-select-list-title Vie
        div.header-menu-toggle
            span.header-menu-toggle-line
            span.header-menu-toggle-line
            span.header-menu-toggle-line