header
    span.logo.header-logo
    div.header
        div.header-menu
            a.link.header-menu-link company
            a.link.header-menu-link products
            a.link.header-menu-link news
            a.link.header-menu-link contacts
        div.lang.header-lang eng
        div.header-menu-toggle
            span.header-menu-toggle-line
            span.header-menu-toggle-line