.section {
  &-five {
    margin-top: 150px;

    @include b(mobile) {
      margin-top: 0px;
    }

    .container {
      max-width: 960px;
      padding: 20px 10px 20px 10px;
      background: url(../img/points.svg) no-repeat right center/50%,
        url(../img/future-hand.svg) no-repeat right 70px/40%;

      @include b(desktop) {
        background: url(../img/points.svg) no-repeat right center/55%,
          url(../img/future-hand.svg) no-repeat right center/45%;
      }

      @include b(mobile) {
        background: url(../img/future-hand.svg) no-repeat center 50px/45%;
      }

      .title {
        margin-bottom: 20px;
        display: block;
      }

      .text {
        max-width: 635px;
        width: 100%;
        @include rem(18);
        line-height: 29px;

        @include b(desktop) {
          max-width: 415px;

          br {
            display: none;
          }
        }

        @include b(mobile) {
          @include rem(14);
          line-height: 20px;
        }
      }
    }
  }
}