.section {
  &-four {
    margin-top: 80px;

    @include b(mobile) {
      margin-top: 0px;
    }

    .container {
      max-width: 1100px;

      .title {
        &-lg {
          margin-bottom: 80px;

          @include b(mobile) {
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}