.section {
  &-cookies {
    position: fixed;
    bottom: 10px;
    width: 100%;
    padding: 0 20px;
    z-index: 99;

    .container {
      max-width: var(--container-max-width);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      border: 1px solid #474652;
      background-color: var(--color-bg);

      @include b(mobile) {
        flex-direction: column;
        text-align: center;

      }

      .text {
        @include rem(12);
        line-height: 1.5;

        @include b(mobile) {
          margin-bottom: 15px;
        }
      }

      .link {
        text-decoration: underline;
      }

      .btn {
        margin-left: 30px;
        max-width: 95px;
        width: 100%;

        @include b(mobile) {
          max-width: 100%;
          margin: 0;
        }
      }
    }
  }
}