@import "../../plugins/normalize.css/normalize";
@import "../mixins/image.scss";
@import "../mixins/media";
@import "../mixins/main";

// @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Syncopate:wght@400;700&display=swap');

@include font-face(Syncopate, '../fonts/Syncopate/Syncopate-Bold', bold, normal, ttf);
@include font-face(Syncopate, '../fonts/Syncopate/Syncopate-Regular', normal, normal, ttf);

@include font-face(Montserrat, '../fonts/Montserrat/Montserrat-Bold', bold, normal, ttf);
@include font-face(Montserrat, '../fonts/Montserrat/Montserrat-Medium', 500, normal, ttf);
@include font-face(Montserrat, '../fonts/Montserrat/Montserrat-Regular', normal, normal, ttf);

:root {
  --color-bg: #0F0D12;
  --color-title: #929292;
  --color-text: #929292;
  --color-link: #929292;
  --color-link-hover: #fff;
  --color-orange: #ff8e1e;
  --color-orange-accent: #e17f1d;

  --header-max-width: 1280px;
  --header-margin: 0 auto;
  --header-padding: 60px 70px 0px 70px;
  --header-margin-desktop-1: 20px auto 0px auto;
  --header-padding-desktop-1: 20px 70px 0 70px;
  --header-margin-desktop: 20px 0px 0px 0px;
  --header-padding-desktop: 20px 30px 0px 30px;
  --header-margin-mobile: 15px 0px 0px 0px;
  --header-padding-mobile: 15px 20px 0px 20px;

  --container-max-width: 1280px;
  --container-padding: 20px;
  --container-padding-laptop: 20px 20px;
  --container-padding-desktop: 20px 20px;
  --container-padding-tablet: 20px 40px;
  --container-padding-mobile: 20px 20px;

  --section-padding: 20px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-bg);
  font-family: 'Montserrat',
    sans-serif;
  cursor: default;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

a,
p,
.button,
span {
  transition: 0.4s ease;
  outline: none;
  margin: 0;
}

.link {
  color: var(--color-link);

  &:hover {
    color: var(--color-link-hover);
  }
}

a,
.link {
  cursor: pointer;

  &.icon {
    &:hover {
      &:after {
        transition: 0.4s ease;
        opacity: 0.7;
      }
    }
  }
}

.form-block {
  &-buttons {
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
  }
}

.input,
.textarea {
  @include rem(16);
  color: var(--color-text);
  background: none;
  width: 100%;
  padding: 20px 0px;
  outline: none;
  margin: 0;
  margin-bottom: 10px;
  border: none;
  box-shadow: none;
  border-bottom: 1px solid #474652;
  font-family: 'Montserrat',
    sans-serif;
  transition: 0.4s ease;

  @include b(mobile) {
    @include rem(14);
  }

  &:focus {
    color: white;
    border-color: white;
  }
}

.form-button {
  max-width: 130px;
  width: 100%;
  text-transform: lowercase;
}

.text {
  display: inline-block;
  color: var(--color-text);
  @include rem(16);
  line-height: 25px;
}

.title {
  color: var(--color-title);
  display: inline-block;

  &-text {
    @include rem(25);
    font-weight: 800;
    line-height: 30px;
    letter-spacing: 1.3px;
    margin-bottom: 20px;

    @include b(mobile) {
      @include rem(20);
      line-height: 30px;
    }
  }

  &-lg {
    @include rem(46);
    font-family: 'Syncopate',
      sans-serif;
    font-weight: bold;
    line-height: 69px;
    text-transform: uppercase;
    position: relative;

    @include b(desktop) {
      @include rem(33);
      line-height: 46px;
    }

    @include b(mobile) {
      @include rem(20);
      line-height: 28px;
      margin-bottom: 18px;
    }
  }

  &-bg {
    @include before-img(block, 400px, 330px, a) {
      background-image: url(../img/points.svg);
      top: -100px;
      z-index: -1;

      @include b(desktop) {
        width: 325px;
        height: 245px;
        background-size: cover;
        top: -80px;
      }

      @include b(mobile) {
        display: none;
      }
    }
  }

  @include b(mobile) {
    br {
      display: none;
    }
  }
}

.logo {
  display: block;

  &-hd {
    background-image: url(../img/logo-hd.svg) no-repeat center/contain;
    width: 80px;
    height: 30px;
  }

  &-ft {
    background-image: url(../img/logo-ft.svg);
    width: 133px;
    height: 60px;
  }
}

.container {
  max-width: var(--container-width);
  padding: var(--container-padding);
  margin: 0 auto;

  @include b(laptop) {
    padding: var(--container-padding-laptop);
  }

  @include b(desktop) {
    padding: var(--container-padding-desktop);
  }

  @include b(tablet) {
    padding: var(--container-padding-tablet);
  }

  @include b(mobile) {
    padding: var(--container-padding-mobile);
  }
}

.icon {
  display: flex;
  align-items: center;

  &-waves-2 {
    flex-direction: column;

    @include before-img(block, 60px, 60px, r) {
      background-image: url(../img/icons/waves-logo.svg);
      background-position: center;
      background-size: contain;
      margin-bottom: 15px;
    }
  }

  &-ethereum {
    flex-direction: column;

    @include before-img(block, 39px, 60px, r) {
      background-image: url(../img/icons/ethereum-logo.svg);
      background-position: center;
      background-size: contain;
      margin-bottom: 15px;
    }
  }

  &-reactjs {
    flex-direction: column;

    @include before-img(block, 70px, 61px, r) {
      background-image: url(../img/icons/reactjs-logo.svg);
      background-position: center;
      background-size: contain;
      margin-bottom: 15px;
    }
  }

  &-solidity {
    flex-direction: column;

    @include before-img(block, 40px, 60px, r) {
      background-image: url(../img/icons/solidity-logo.svg);
      background-position: center;
      background-size: contain;
      margin-bottom: 15px;
    }
  }

  &-ride {
    flex-direction: column;

    @include before-img(block, 113px, 40px, r) {
      background-image: url(../img/icons/ride-logo.svg);
      background-position: center;
      background-size: contain;
      margin-bottom: 25px;
    }
  }

  &-waves {
    flex-direction: column;

    @include before-img(block, 60px, 60px, r) {
      background-image: url(../img/icons/waves-logo.svg);
      background-position: center;
      background-size: contain;
      margin-bottom: 10px;
    }
  }

  &-eng {
    @include before-img(block, 18px, 18px, r) {
      background-image: url(../img/icons/eng.svg);
      background-position: center;
      background-size: contain;
    }
  }

  &-circle {
    &-arrow-gray {
      @include after-img(block, 36px, 36px, r) {
        background-image: url(../img/icons/icon-circle-arrow-gray.svg);
        background-position: center;
        background-size: contain;
        margin-left: 15px;
      }
    }

    &-arrow-brown {
      @include after-img(block, 36px, 36px, r) {
        background-image: url(../img/icons/icon-circle-arrow-brown.svg);
        background-position: center;
        background-size: contain;
        margin-left: 15px;
      }
    }

    &-arrow-aqua {
      @include after-img(block, 36px, 36px, r) {
        background-image: url(../img/icons/icon-circle-arrow-aqua.svg);
        background-position: center;
        background-size: contain;
        margin-left: 15px;
      }
    }

    &-arrow-green {
      @include after-img(block, 36px, 36px, r) {
        background-image: url(../img/icons/icon-circle-arrow-green.svg);
        background-position: center;
        background-size: contain;
        margin-left: 15px;
      }
    }

    &-arrow-purple {
      @include after-img(block, 36px, 36px, r) {
        background-image: url(../img/icons/icon-circle-arrow-purple.svg);
        background-position: center;
        background-size: contain;
        margin-left: 15px;
      }
    }

    &-arrow-blue {
      @include after-img(block, 36px, 36px, r) {
        background-image: url(../img/icons/icon-circle-arrow-blue.svg);
        background-position: center;
        background-size: contain;
        margin-left: 15px;
      }
    }
  }
}

.btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text);

  &-border {
    padding: 10px 20px;
    background: none;
    border-radius: 5px;
    border: 1px solid #474652;
    transition: 0.4s ease;
    @include rem(10);
    font-family: 'Syncopate',
      sans-serif;

    &:hover {
      color: white;
      border-color: white;
    }
  }
}