@import "../mixins/media";

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;

  &.header-fixed {
    position: fixed;
    background-color: var(--color-bg);
    box-shadow: 0px 0px 8px -2px var(--color-bg);

    .header {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  .header {
    width: 100%;
    display: grid;
    grid-template-columns: minmax(80px, 180px) 1fr;
    grid-gap: 10px;
    align-items: center;
    max-width: var(--header-max-width);
    margin: var(--header-margin);
    padding: var(--header-padding);

    @include b(1280) {
      margin: var(--header-margin-desktop-1);
      padding: var(--header-padding-desktop-1);
    }

    @include b(desktop) {
      grid-template-columns: minmax(80px, 130px) 1fr;
      margin: var(--header-margin-desktop);
      padding: var(--header-padding-desktop);
    }

    @include b(mobile) {
      display: flex;
      justify-content: space-between;
      margin: var(--header-margin-mobile);
      padding: var(--header-padding-mobile);
    }

    &-wrap {
      display: grid;
      grid-template-columns: 1fr minmax(90px, 95px);
      grid-gap: 40px;
      position: relative;

      @include b(mobile) {
        position: absolute;
        display: none;
        flex-direction: column-reverse;
        width: 95vw;
        left: 0;
        right: 0;
        padding: 20px;
        margin: 0 auto;
        top: 80px;
        border-radius: 5px;
        border: 1px solid #929292;
        background-color: var(--color-bg);
      }
    }

    &-menu {
      display: flex;
      align-items: center;

      &-link {
        @include rem(12);
        position: relative;
        font-family: 'Syncopate',
          sans-serif;
        font-weight: normal;
        line-height: 18px;

        @include b(tablet) {
          font-size: 1.55vw;
        }

        &:hover {
          &:after {
            color: var(--color-link);
            cursor: default;
          }
        }

        &:after {
          content: '/';
          margin: 0 30px;
          color: var(--color-link);
          cursor: default;

          @include b(desktop) {
            margin: 0 20px;
          }

          @include b(tablet) {
            margin: 0 10px;
          }
        }

        &:nth-last-child(1) {
          &:after {
            display: none;
          }
        }

        &.active {
          &:before {
            content: '';
            display: block;
            bottom: -5px;
            left: 0;
            background-color: var(--color-link);
            position: absolute;
            width: 50px;
            height: 1px;
          }
        }
      }

      &-show {
        display: flex !important;
      }

      &-toggle {
        width: 45px;
        cursor: pointer;
        display: none;

        @include b(mobile) {
          display: block;
        }

        &:hover {
          .header-menu-toggle-line:nth-child(2) {
            margin-left: 5px;
            background-color: var(--color-link-hover);
          }

          .header-menu-toggle-line:nth-child(3) {
            margin-left: 15px;
            background-color: var(--color-link-hover);
          }
        }

        &-line {
          width: 100%;
          display: block;
          height: 2px;
          border-radius: 10px;
          background-color: var(--color-text);
          margin-bottom: 5px;
          transition: 0.4s ease;

          &:nth-child(2) {
            max-width: 40px;
          }

          &:nth-child(3) {
            max-width: 30px;
          }
        }
      }
    }
  }
}