extends layouts/index

block header
    include common/header
block content
    include common/block/header
    include common/block/first
    include common/block/second
    include common/block/third
    include common/block/four

block footer
    include common/footer