extends layouts/index

block header
    include common/header
block content
    include common/block/header
    include common/block/first
    include common/block/second

block footer
    include common/footer